<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1
        class="w-screen top-0 text-4xl font-bold text-center text-white bg-blue-500 p-4 rounded-md"
      >
        Compañias del Ecuador
      </h1>
      <div class="">
        <div>
          <label for="x-axis">Select X-axis:</label>
          <select id="x-axis"></select>
        </div>
        <div>
          <label for="y-axis">Select Y-axis:</label>
          <select id="y-axis"></select>
        </div>
        <button onclick="updatePlot()">Update Plot</button>
        <div id="plot"></div>
      </div>
    </div>
    <div id="map"></div>

    <select
      id="provincias-select"
      class="w-1/4 p-2 m-2 rounded-md border-none cursor-pointer focus:outline-none"
    >
      <option value="reset" disabled hidden>Seleccionar provincia...</option>
      <option value="reset" class="">Todas</option>
      {% for provincia in provincias %}
      <option class="" value="{{ provincia }}">{{ provincia }}</option>
      {% endfor %}
    </select>
    <button id="reset-btn">Reset</button>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graficas.js') }}"></script>
  </body>
</html>
