<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/favicon.jpeg') }}"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />

    <script>
      $(function () {
        $("#buscador").autocomplete({
          source: function (request, response) {
            $.ajax({
              url: "/autocomplete",
              dataType: "json",
              data: {
                term: request.term,
              },
              success: function (data) {
                response(data);
              },
            });
          },
          minLength: 2,
          select: function (event, ui) {
            window.location.href =
              "/empresa/" + encodeURIComponent(ui.item.value);
          },
        });
      });

      function redirigirEmpresa() {
        var nombreEmpresa = document.getElementById("buscador").value;
        if (nombreEmpresa) {
          window.location.href =
            "/empresa/" + encodeURIComponent(nombreEmpresa);
        }
      }
    </script>
  </head>
  <body>
    <div
      class="top-0 p-4 rounded-b flex flex-row relative items-center"
      style="background-color: var(--color-1)"
    >
      <button
        id="reset-btn"
        class="absolute left-4 center"
        style="background-color: var(--color-3)"
      >
        Reset
      </button>

      <h1 class="text-5xl font-bold text-center text-white w-full">
        Compañías del Ecuador
      </h1>
    </div>

    <div class="flex w-full">
      <div class="m-8 w-1/4">
        <div class="flex flex-col">
          <h2 class="font-bold">Filtros principales:</h2>
          <select
            id="regiones-select"
            class="p-2 m-2 rounded-md border-2 cursor-pointer focus:outline-none w-full"
            style="border-color: var(--color-2)"
          >
            <option value="reset">Seleccionar región...</option>
            {% for region in regiones %}
            <option value="{{ region }}">{{ region }}</option>
            {% endfor %}
          </select>

          <select
            id="provincias-select"
            class="p-2 m-2 rounded-md border-2 cursor-pointer focus:outline-none w-full"
            style="border-color: var(--color-2)"
          >
            <option value="reset">Seleccionar provincia...</option>
            <!-- <option value="reset" class="">Todas</option> -->
            {% for provincia in provincias %}
            <option class="" value="{{ provincia }}">{{ provincia }}</option>
            {% endfor %}
          </select>

          <h2 class="font-bold">Filtros secundarios:</h2>
          <select
            id="tipo-compania-select"
            class="p-2 m-2 rounded-md border-2 cursor-pointer focus:outline-none w-full"
            style="border-color: var(--color-3)"
          >
            <option value="all">Seleccionar tipo de compañía...</option>
            {% for tipo_compania in tipos_compania %}
            <option value="{{ tipo_compania }}">{{ tipo_compania }}</option>
            {% endfor %}
          </select>

          <select
            id="tamano-select"
            class="p-2 m-2 rounded-md border-2 cursor-pointer focus:outline-none w-full"
            style="border-color: var(--color-3)"
          >
            <option value="all">Seleccionar tamaño...</option>
            {% for tamano in tamanos %}
            <option value="{{ tamano }}">{{ tamano }}</option>
            {% endfor %}
          </select>

          <select
            id="sector-select"
            class="p-2 m-2 rounded-md border-2 cursor-pointer focus:outline-none w-full"
            style="border-color: var(--color-3)"
          >
            <option value="all">Seleccionar sector...</option>
            {% for sector in sectores %}
            <option value="{{ sector }}">{{ sector }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- top companies sales -->
        <article class="container top-companies p-2 m-2 rounded-md">
          <h2 class="font-bold">
            Top 5 Compañías del Año
            <span id="latest_year">{{ latest_year }}</span>
          </h2>
          <p>Ingresos por ventas</p>
          <div class="companies-stack" id="top_companies_list">
            {% for company in top_companies %}
            <div class="company-card">
              <span class="index">{{ loop.index }}</span>
              <div class="company-info">
                <h3>{{ company.Nombre }}</h3>
                <p>Ingresos: {{ company.Ingreso_por_ventas }}</p>
                <!-- <pre>{{company}}</pre> -->
              </div>
            </div>
            {% endfor %}
          </div>
        </article>
      </div>

      <div class="container w-3/4">
        <div class="cards-container py-8 pr-4" id="aggregate_data_cards">
          <!-- Aquí se insertarán las cards -->
        </div>

        <div class="top-box object-contain flex felx-col">
          <div class="">
            <div class="leftbox w-1/2 p-16">
              <div id="map"></div>
            </div>
            <div class="rightbox w-1/2"></div>
          </div>
          <div class="w-full p-8 flex justify-center content-center">
            <!-- <article class="flex flex-col justify-center content-center">
              <h1>Buscador de Empresas</h1>
              <input
                type="text"
                id="buscador"
                placeholder="Nombre de la empresa"
              />
              <button onclick="redirigirEmpresa()">Buscar</button>
            </article> -->
            <article class="bg-white rounded-lg p-6 w-80">
              <h1
                class="text-xl font-bold mb-4 text-center"
                style="color: var(--color-1)"
              >
                Buscador de Empresas
              </h1>
              <input
                type="text"
                id="buscador"
                placeholder="Nombre de la empresa"
                class="border-2 border-gray-300 mb-4 px-3 py-2 rounded-lg w-full focus:outline-none focus:border-blue-500"
              />
              <button
                onclick="redirigirEmpresa()"
                class="hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                style="background-color: var(--color-3)"
              >
                Buscar
              </button>
            </article>
          </div>
        </div>
        <div class="flex justify-center content-center">
          <div id="plot"></div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graficas.js') }}"></script>
  </body>
</html>
